.login{
    color: #a7c560;
     background-color: rgb(26, 166, 201);
     font-size: 20px;
     font-weight: 400;
 }
 .container{
     position: absolute;
 }
 .navbg{
     background-color: #1c4a8f;
     }
 .text{
     font-size: 20px;
     font-style: normal;
 }
 .text1{
     font-size: 20px;
 }
 
 .show{
    border:2px solid gold !important;
    width:20px !important;
    margin-left: -2rem;
 }
 
 
 .menu1 li :hover{
     color: gold !important;
     /* transform: scale(1.1); */
   } 
   .submit {
     border: none;
     padding: 15px 70px;
     border-radius: 8px;
     display: block;
     margin: auto;
     margin-top: 120px;
     background: s#082045;
     color: #fff;
     font-weight: bold;
     -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
     -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
     box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
 }
 
 